{% extends 'navbar.html' %}
{% load static %} 

{% block body %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<div class="function-tiles">
    <div class="tile">
        Add Pet/Animal
    </div>
    
    <div class="tile">
        Add Vaccination Record
    </div>
    
    <div class="tile">
        Edit Records
    </div>
    
    <div class="tile">
        
    </div>
    
    <div class="tile">
       
    </div>   
    
    <div class="tile">

    </div>



</div>

Welcome {{user}}


{% endblock body %}
