{% extends 'base.html' %}
{% load static %} 

{% block body %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<title>PetVac Login</title>

<body>
<div class="flex-container">
  <div class="left">
    <img id="logo" src="{% static '/img/logo.jpg' %}"/ >
  </div>

  <div class="right">
    {{message}}
    <h1>Login</h>
    <form method="post" action = "/index.html">
      {% csrf_token %}
      <label for="fname">Id:</label><br>
      <input type="text" id="User_Name" name="user" placeholder ="User_Name" ><br>
      <label for="lname">Password:</label><br>
      <input type="password" id="Password" name="passw" placeholder="Password" ><br><br>
      <input button class="open-button" type="submit" value="Login">
    </form> 

  </div>

</div>

</body>

                  
                

{% endblock body %}